[package]
name = "json-strip-comments"
version = "1.0.1"
edition = "2021"
description = "Strip comments from JSON"
license = "MIT"
readme = "README.md"
repository = "https://github.com/oxc-project/json-strip-comments"

[dev-dependencies]
serde_json = "1.0.111"
